.root {
    -fx-background-image: url("res/background5.jpg");
}

.scroll-pane
{
	-fx-background-color: transparent;
}

.anchor-pane
{
	-fx-background-color: transparent;
}

.text-area {
    text-area-background: transparent ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

#text
{
	-fx-font-size: 20;
}

#health .bar
{
	-fx-padding: 1px; 
    -fx-background-insets: 0; 
    
}

#health > .track
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#btinventory
{          
    -fx-font-size: 18;
}

#btsearch
{          
    -fx-font-size: 18;
}

#btexamine
{          
    -fx-font-size: 18;
}

#btexamineMonster
{          
    -fx-font-size: 18;
}

#btattackMonster
{
	-fx-font-size: 18;
}

#btfleeMonster
{          
    -fx-font-size: 18;
}

#btusePotion
{          
    -fx-font-size: 18;
}



#btnnorthwest
{          
    -fx-background-color: transparent;
}
#btnnorth
{          
    -fx-background-color: transparent;
}
#btnnortheast
{          
    -fx-background-color: transparent;
}
#btwest
{          
    -fx-background-color: transparent;
}
#btsouthwest
{          
    -fx-background-color: transparent;
}
#btsouth
{          
    -fx-background-color: transparent;
}
#btsoutheast
{          
    -fx-background-color: transparent;
}
#bteast
{          
    -fx-background-color: transparent;
}

#encounterPlayerHealth .tick
{
	-fx-background-color: transparent;
}

#encounterPlayerHealth .indicator
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#encounterPlayerHealth .percentage
{
	-fx-fill:null;
}

#encounterMonsterHealth .tick
{
	-fx-background-color: transparent;
}

#encounterMonsterHealth .indicator
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#encounterMonsterHealth .percentage
{
	-fx-fill:null;
}

#btexaminePuzzle
{          
    -fx-font-size: 18;
}

#btsolvePuzzle
{          
    -fx-font-size: 18;
}

#btignorePuzzle
{          
    -fx-font-size: 18;
}

#btrequestHint
{          
    -fx-font-size: 18;
}

#blueRune
{
	-fx-background-color: transparent;
}

#greenRune
{
	-fx-background-color: transparent;
}

#firstTorch
{
	-fx-background-color: transparent;
}

#secondTorch
{
	-fx-background-color: transparent;
}

#thirdTorch
{
	-fx-background-color: transparent;
}

#solveTorchPuzzle
{          
    -fx-font-size: 18;
}
