.root {
    -fx-background-image: url("res/background5.jpg");
}

.scroll-pane
{
	-fx-background-color: transparent;
}

.anchor-pane
{
	-fx-background-color: transparent;
}

.text-area {
    text-area-background: transparent ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

#text
{
	-fx-font-size: 20;
}

#health .bar
{
	-fx-padding: 1px; 
    -fx-background-insets: 0; 
    
}

#health > .track
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#btinventory
{          
    -fx-font-size: 18;
}

#btsearch
{          
    -fx-font-size: 18;
}

#btexamine
{          
    -fx-font-size: 18;
}

#btexamineMonster
{          
    -fx-font-size: 18;
}

#btattackMonster
{
	-fx-font-size: 18;
}

#btfleeMonster
{          
    -fx-font-size: 18;
}

#btusePotion
{          
    -fx-font-size: 18;
}



#btnnorthwest
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northWestButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btnnorthwest:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northWestButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnnorthwest:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northWestButtonPressed.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnnorth
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btnnorth:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnnorth:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnnortheast
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northEastButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btnnortheast:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northEastButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnnortheast:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/northEastButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btwest
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/westButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btwest:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/westButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btwest:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/westButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsouthwest
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southWestButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btsouthwest:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southWestButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsouthwest:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southWestButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsouth
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btsouth:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsouth:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsoutheast
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southEastButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#btsoutheast:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southEastButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btsoutheast:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/southEastButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#bteast
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/eastButton.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
}

#bteast:hover
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/eastButtonHover.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#bteast:armed
{          
    -fx-background-color: transparent;
    -fx-background-image: url("res/eastButtonPressed.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#encounterPlayerHealth .tick
{
	-fx-background-color: transparent;
}

#encounterPlayerHealth .indicator
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#encounterPlayerHealth .percentage
{
	-fx-fill:null;
}

#encounterMonsterHealth .tick
{
	-fx-background-color: transparent;
}

#encounterMonsterHealth .indicator
{
	-fx-background-color: rgba(0, 0, 0, 0.62);
}

#encounterMonsterHealth .percentage
{
	-fx-fill:null;
}

#btexaminePuzzle
{          
    -fx-font-size: 18;
}

#btsolvePuzzle
{          
    -fx-font-size: 18;
}

#btignorePuzzle
{          
    -fx-font-size: 18;
}

#btrequestHint
{          
    -fx-font-size: 18;
}

#blueRune
{
	-fx-background-color: transparent;
}

#greenRune
{
	-fx-background-color: transparent;
}

#firstGoldSkull
{
	-fx-background-color: transparent;
}

#secondGoldSkull
{
	-fx-background-color: transparent;
}

#thirdGoldSkull
{
	-fx-background-color: transparent;
}

#firstTorch
{
	-fx-background-color: transparent;
}

#secondTorch
{
	-fx-background-color: transparent;
}

#thirdTorch
{
	-fx-background-color: transparent;
}

#solveTorchPuzzle
{          
    -fx-font-size: 18;
}
